.section-one {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬로 수정합니다. */
  height: 100vh;
  padding: 20px; /* 로고와 컨텐츠 사이의 여백을 추가합니다. */
  background-color: #000;
}

.logo img {
  width: 250px; /* 로고 이미지의 크기를 조정해주세요. */
}
.banner-title {
  color: #fff;
}
.banner-info {
  color: #fff;
}
.banner img {
  width: 400px; /* 배너 이미지의 크기를 조정해주세요. */
}

.banner p {
  margin-top: 20px;
}

.banner button {
  margin-top: 20px;
}
